@model ListaSeguros.Models.Filtro

<h2>Relação de Seguros</h2>
<hr />
<form asp-controller="Home" asp-action="List">
    <div class="form-group row">
        <div class="col-md-1">
            <div class="form-group">
                <select asp-for="PageSize" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-group">
                <input  asp-for="SearchString" type="search" class="form-control" />
                <span class="input-group-btn">
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                </span>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Seguros[0].Id)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Seguros[0].CpfCnpj)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Seguros[0].TipoSeguro)
            </th>
            <th class="col-md-7">
                @Html.DisplayNameFor(model => model.Seguros[0].ObjetoSegurado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Seguros)
        {
            <tr>
                <td class="col-md-1">
                    <a asp-action="Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.CpfCnpj)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.TipoSeguro)
                </td>
                <td class="col-md-7">
                    @Html.DisplayFor(modelItem => item.ObjetoSegurado)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @{
        var prevDisabled = !Model.Seguros.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Seguros.HasNextPage ? "disabled" : "";
    }

    <a asp-action="List"
       asp-route-pageIndex="@(Model.Seguros.PageIndex - 1)"
       asp-route-SearchString="@Model.SearchString"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="List"
       asp-route-pageIndex="@(Model.Seguros.PageIndex + 1)"
       asp-route-SearchString="@Model.SearchString"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</p>
<p><a asp-action="New" class="btn btn-default">Novo Seguro</a></p>